.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.menu li {
  position: relative;
  height: 100%;
}

.menu li span {
  color: rgba(255, 255, 255, .6);
}

.menu li.active span {
  color: #fff;
}

.menu li.active span::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
}